@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.background {
  background-color: #cdcafa;
}

.scroll-hide {
  scrollbar-width: none;
  /* -ms-overflow-style: none; */
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}
